* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    margin-bottom:50px;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.footer-padding{
    padding-top: 30px;
}

.footer {
	position: fixed;
    height: 50px;
    background-color: #1abc9c;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    text-align: center;
    
}

.footer p {
	padding-top: 20px;
	font-size: 12px;
  color: #fff;
}
